<div class="newcash">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 cashcon">
        <div class="cashhead">
          <h1>New Cash Deposit</h1><hr>
        </div>
        <div class="eoddata">
          <div class="col-md-6 col-md-offset-3 dataitem">
            <div class="col-md-6">
                <span class="item">Today's Date</span>
            </div>
            <div class="col-md-6">
              <span class="item">15-10-2017</span>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3 dataitem">
            <div class="col-md-6">
              <span class="item">Amount Deposited</span>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <input type="email" class="form-control" value="" required="required">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn_class">
          <div class="btnsub">
            <button type="button" class="btn btn-success">Submit</button>
            <button type="button" class="btn">Cancel</button>
          </div>
        </div>
      </div>      
    </div>
  </div>