<div class="wrapper">
    <h3>Warrenties & Repairs</h3>                                            
    <table class="table table-fixed">
      <thead>
        <tr>
              <th class="col-xs-1">#</th>
              <th class="col-xs-2">Serial Number</th>
              <th class="col-xs-1">Ear</th>
              <th class="col-xs-2">Warranty Start</th>
              <th class="col-xs-2">Warranty End</th>
              <th class="col-xs-2">Status</th>
              <th class="col-xs-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let warrant of warrenties , index as i" >
              <td class="col-xs-1">{{i+1}}</td>
              <td class="col-xs-2">{{warrant.SerialNumber}}</td>
              <td class="col-xs-1">{{warrant.Ear}} </td>
              <td class="col-xs-2">{{warrant.WarrantyStart}}</td>
              <td class="col-xs-2">{{warrant.WarrantyEnd}}</td>
              <td class="col-xs-2">{{warrant.W_Status}}</td>
              <td class="col-xs-2">
              <li> <button type="button" class="btn  btn-orange">Renew</button></li>
              
              <li> <button type="button" class="btn btn-red">Repair</button></li>
            </td>
        </tr>
        <!-- <tr>
            <td>2</td>
            <td>2012-12-24</td>
            <td>Hearing Aid Enquiry</td>
            <td>Chandana Ongolo</td>
            <td>HA ordered</td>
      </tr> -->
      </tbody>
    </table>
</div>

                
            

      
      