<div class="wrapper">
    <h3>Warrenties & Repairs</h3>                                            
    <table class="table table-responsive">
      <thead>
        <tr>
              <th>#</th>
              <th>Serial Number</th>
              <th>Ear</th>
              <th>Warranty Start</th>
              <th>Warranty End</th>
              <th>Status</th>
              <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let warrant of warrenties" >
              <td>1</td>
              <td>{{warrant.serialno}}</td>
              <td>{{warrant.ear}} </td>
              <td>{{warrant.warrentystart}}</td>
              <td>{{warrant.warrentyend}}</td>
              <td>{{warrant.status}}</td>
              <td>
              <li> <button type="button" class="btn  btn-orange">Renew</button></li>
              
              <li> <button type="button" class="btn btn-red">Repair</button></li>
            </td>
        </tr>
        <!-- <tr>
            <td>2</td>
            <td>2012-12-24</td>
            <td>Hearing Aid Enquiry</td>
            <td>Chandana Ongolo</td>
            <td>HA ordered</td>
      </tr> -->
      </tbody>
    </table>
</div>

                
            

      
      