<div class="wrappercontent" *ngIf="awaitingmoulds">
  <div class="table row">
    <div class="tableheader col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class=" row">
        <li class="col-xs-1">#</li>
        <li class="col-xs-2">Customer</li>
        <li class="col-xs-3">Moulds</li>
        <li class="col-xs-2">Qty</li>
        <li class="col-xs-2">Date</li>
        <li class="col-xs-2">Status</li>
      </div>
    </div>
    <div class="tablecontent  col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row tablerow" *ngFor="let item of awaitingmoulds, index as i">
        <li class="col-xs-1">{{i+1}}</li>
        <li class="col-xs-2">{{item.InvCustomerName}}</li>
        <li class="col-xs-3">{{item.Moulds}}</li>
        <li class="col-xs-2">{{item.Qty}}</li>
        <li class="col-xs-2">{{item.OrderDate}}</li>
        <li class="col-xs-2"><button type="button" class="btn  btn-orange">Update</button></li>
      </div>
    </div>
  </div>
</div>