<div class="newappointment">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 appointmentcon" [formGroup]="newAppointment">
        <div class="appointmenthead">
          <h1>New Appointment</h1><hr>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rowform">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">        
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">Appointment Date<sup class="supset">*</sup></label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 radio">
              <input type="date" class="form-control" value="" required="required" formControlName="AppointmentDate">
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">Audiologist<sup class="supset">*</sup></label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 radio">
                <div class="form-group">
                  <select class="form-control" id="sel1" formControlName="AudiologistID">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rowform">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">        
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">From Time<sup class="supset">*</sup></label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 radio">
              <input type="time" class="form-control" value="" required="required" formControlName="AppointmentFromTime">
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">To Time<sup class="supset">*</sup></label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <input type="time" class="form-control" value="" required="required" formControlName="AppointmentToTime">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rowform">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">        
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">Type<sup class="supset">*</sup></label>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 radio" >
              <label><input type="radio" formControlName="AppointmentType" name="AppointmentType" value="Diagnostics">Diagnostics</label>
              <label><input type="radio" formControlName="AppointmentType" name="AppointmentType" value="Hearing Aid Enquiry">Hearing Aid Enquiry</label>
              <label><input type="radio" formControlName="AppointmentType" name="AppointmentType" value="HA Fitting">HA Fitting</label>
              <label><input type="radio" formControlName="AppointmentType" name="AppointmentType" value="Review">Review</label>
              <label><input type="radio" formControlName="AppointmentType" name="AppointmentType" value="Spares/Moulds/Repairs">Spares/Moulds/Repairs</label>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">Remarks</label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <input type="text"class="form-control" value="" required="required" formControlName="Remarks">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn_class">
          <div class="btnsub">
            <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
            <button type="button" class="btn">Cancel</button>
          </div>
        </div>
      </div>      
    </div>
  </div>