<div class="wrappercontent">
      <table class="table table-fixed">
            <thead>
                  <tr class="col-xs-12">
                        <th class="col-xs-2">Customer</th>
                        <th class="col-xs-2">Order</th>
                        <th class="col-xs-1">Total</th>
                        <th class="col-xs-1">Paid</th>
                        <th class="col-xs-2">Previous</th>
                        <th class="col-xs-2">Balance</th>
                        <th class="col-xs-1">Method</th>
                        <th class="col-xs-1">Status</th>
                  </tr>
            </thead>
            <tbody>
                  <tr class="col-xs-12">
                        <td class="col-xs-2">Custoasfdfzdafdafasfmer</td>
                        <td class="col-xs-2">Order</td>
                        <td class="col-xs-1">Total</td>
                        <td class="col-xs-1">Paid</td>
                        <td class="col-xs-2">Previous</td>
                        <td class="col-xs-2">Balance</td>
                        <td class="col-xs-1">Method</td>
                        <td class="col-xs-1">Status</td>
                  </tr>
                  <tr class="col-xs-12">
                              <td class="col-xs-2">Custoasfdfzdafdafasfmer</td>
                              <td class="col-xs-2">Order</td>
                              <td class="col-xs-1">Total</td>
                              <td class="col-xs-1">Paid</td>
                              <td class="col-xs-2">Previous</td>
                              <td class="col-xs-2">Balance</td>
                              <td class="col-xs-1">Method</td>
                              <td class="col-xs-1">Status</td>
                        </tr>
                        <tr class="col-xs-12">
                                    <td class="col-xs-2">Custoasfdfzdafdafasfmer</td>
                                    <td class="col-xs-2">Order</td>
                                    <td class="col-xs-1">Total</td>
                                    <td class="col-xs-1">Paid</td>
                                    <td class="col-xs-2">Previous</td>
                                    <td class="col-xs-2">Balance</td>
                                    <td class="col-xs-1">Method</td>
                                    <td class="col-xs-1">Status</td>
                              </tr>
                              <tr class="col-xs-12">
                                          <td class="col-xs-2">Custoasfdfzdafdafasfmer</td>
                                          <td class="col-xs-2">Order</td>
                                          <td class="col-xs-1">Total</td>
                                          <td class="col-xs-1">Paid</td>
                                          <td class="col-xs-2">Previous</td>
                                          <td class="col-xs-2">Balance</td>
                                          <td class="col-xs-1">Method</td>
                                          <td class="col-xs-1">Status</td>
                                    </tr>
                  
                  
            </tbody>
      </table>
</div>