<div class="wrappercontent">
    <table  class="table table-fixed">
        <thead>
          <tr>
                <th class="col-xs-2">Customer</th>
                <th class="col-xs-1">Order</th>
                <th class="col-xs-1">Total</th>
                <th class="col-xs-1">Paid</th>
                <th class="col-xs-2">Previous</th>
                <th class="col-xs-2">Balance</th>
                <th class="col-xs-1">Method</th>
                <th class="col-xs-2">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
          </tr>
          <!-- <tr>
              <td>2</td>
              <td>2012-12-24</td>
              <td>Hearing Aid Enquiry</td>
              <td>Chandana Ongolo</td>
              <td>HA ordered</td>
        </tr> -->
        </tbody>
      </table>


</div>