<div class="newCaseHistory container">
  <h2>New Case History</h2>
  <hr>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="outerwrapper">
      
      <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          
          <div class="fieldname form-group col-md-6">
            <label for="">Case Date <sup class="supset">*</sup></label>
          </div>
          <div class="fielddisc form-group col-md-6">
            <input type="text">
          </div> 
            
          <div class="fieldname form-group col-md-6">
            <label for="">Exposed TO Loud Noise ?<sup class="supset">*</sup></label>
          </div>
          <div class="radio form-group col-md-6">
            <label class="refernce"> 
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> yes
            </label>
            <label class="refernce">
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> No
            </label>
                  
          </div>
          <div class="fieldname form-group col-md-6">
              <label for="">Hearin Problem ?<sup class="supset">*</sup></label>
          </div>
          <div class="radio form-group col-md-6">
            <label class="refernce"> 
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> None
            </label>
            <label class="refernce">
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Left
            </label>
            <label class="refernce">
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Right
            </label>        
            <label class="refernce">
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Both
            </label>
          </div>
          <div class="fieldname form-group col-md-6">
              <label for="">Any Specific Illness ?<sup class="supset">*</sup></label>
          </div>
          <div class="radio form-group col-md-6">
              <label class="refernce"> 
                <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> yes
              </label>
              <label class="refernce">
                <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> No
              </label>
                    
          </div>
          <div class="fieldname form-group col-md-6">
              <label for="">History Of Ear Discharge ?<sup class="supset">*</sup></label>
          </div>
          <div class="radio form-group col-md-6">
            <label class="refernce"> 
                <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> yes
            </label>
            <label class="refernce">
                <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> No
            </label>
                    
          </div>
          <div class="fieldname form-group col-md-6">
              <label for="">Family History of Deafness ?<sup class="supset">*</sup></label>
          </div>
          <div class="radio form-group col-md-6">
            <label class="refernce"> 
                <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> yes
            </label>
            <label class="refernce">
                <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> No
            </label>
                    
          </div>
          <div class="fieldname form-group col-md-6">
              <label for="">Tinnitus ?<sup class="supset">*</sup></label>
          </div>
          <div class="radio form-group col-md-6">
            <label class="refernce"> 
                <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> yes
            </label>
            <label class="refernce">
                <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> No
            </label>
                    
          </div>
          
          <div class="fieldname form-group col-md-6">
              <label for="">loud Noise ?<sup class="supset">*</sup></label>
          </div>
          <div class="radio form-group col-md-6">
            <label class="refernce"> 
                <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> yes
            </label>
            <label class="refernce">
                <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> No
            </label>
                    
          </div>
          
          
        </div>
        
      </div>
      
    </div>
  </div>
 
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="outerwrapper">
          
      <div class="row">
            
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              
          <div class="fieldname">
            <label for=""> Problem Science :</label>
          </div>
          <div class="fielddisc form-group">
            <label for="">Years</label><input type="text" class="inputChange">
            <label for="">Months</label><input type="text" class="inputChange">
            <label for="">Days</label><input type="text" class="inputChange">
          </div> 

          <div class="fieldname form-group col-md-6">
              <label for="">Onset of Problems<sup class="supset">*</sup></label>
          </div>
          <div class="radio form-group col-md-6">
            <label class="refernce"> 
                <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Gradual
            </label>
            <label class="refernce">
                <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Sudden
            </label>
                    
          </div>

          <div class="fieldname form-group col-md-6">
              <label for="">Details </label>
          </div>
          <div class="fielddisc form-group col-md-6">
              <input type="text">
          </div>
          
          <div class="fieldname form-group col-md-6">
              <label for="">Discharging Ear<sup class="supset">*</sup></label>
          </div>
          <div class="radio form-group col-md-6">
            <label class="refernce"> 
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> None
            </label>
            <label class="refernce">
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Left
            </label>
            <label class="refernce">
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Right
            </label>        
            <label class="refernce">
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Both
            </label>
          </div>

          <div class="fieldname form-group col-md-6">
              <label for="">Relation<sup class="supset">*</sup></label>
          </div>
          <div class="radio form-group col-md-6">
            <label class="refernce"> 
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> None
            </label>
            <label class="refernce">
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Parent
            </label>
            <label class="refernce">
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Siblings
            </label>        
            
          </div>

          <div class="fieldname form-group col-md-6">
              <label for="">Ear<sup class="supset">*</sup></label>
          </div>
          <div class="radio form-group col-md-6">
            <label class="refernce"> 
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> None
            </label>
            <label class="refernce">
              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Left
            </label>
           
          </div>

        </div>
      </div>    
    </div>
  </div>
  
  

</div>
