
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="new-mould">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="title">Cash Flows</li>
          <li role="presentation" class="active">
            <a href="#received" aria-controls="received" role="tab" data-toggle="tab">Received</a>
          </li>
          <li role="presentation">
            <a href="#mi" aria-controls="mi" role="tab" data-toggle="tab">MI</a>
          </li>
          <li role="presentation">
            <a href="#expenses" aria-controls="expenses" role="tab" data-toggle="tab">Expenses</a>
          </li>
          <li role="presentation">
            <a href="#cheques" aria-controls="cheques" role="tab" data-toggle="tab">Cheques</a>
          </li>
          <li role="presentation">
            <a href="#cc" aria-controls="cc" role="tab" data-toggle="tab">CC</a>
          </li>
          <li role="presentation">
            <a href="#daybook" aria-controls="daybook" role="tab" data-toggle="tab">Day Book</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Order Type Billing -->
          <div role="tabpanel" class="tab-pane active" id="received">
           <app-cashflow-received></app-cashflow-received>
          
          </div>                 
          <div role="tabpanel" class="tab-pane" id="mi">
          
          </div>
          <div role="tabpanel" class="tab-pane" id="expenses">
          
          </div>
          <div role="tabpanel" class="tab-pane" id="cheques">
              
          </div>
          <div role="tabpanel" class="tab-pane" id="cc">
              
          </div>
          <div role="tabpanel" class="tab-pane" id="daybook">
              
          </div>
        </div>
      </div>
      <!-- Order Items -->
    </div>
  </div>
</div>
