
<!--
  <div class="newMouldTab container">
    
    <div role="tabpanel">
         Nav tabs 
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#billinginfo" aria-controls="home" role="tab" data-toggle="tab">Billing Info</a>
            </li>
            <li role="presentation">
                <a href="#moulds" aria-controls="tab" role="tab" data-toggle="tab">Mould</a>
            </li>
        </ul>
    
         Tab panes 
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="billinginfo">
            <div class="basicheader">
              <h5>Basic</h5>
              <hr>
              <div class="basicinfo">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="outerwrapper">
                        
                    <div class="row">
                          
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            
                        <div class="fieldname form-group col-md-6">
                          <label for="">Order Type</label>
                        </div>
                        <div class="radio form-group col-md-6">
                            <label class="refernce"> 
                              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Hearing Aid
                            </label>
                            <label class="refernce">
                              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Diagnostics
                            </label>
                            <label class="refernce">
                              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Spares
                            </label>        
                            <label class="refernce">
                              <input type="radio" name="RadioOptions" id="inlineRadio1" value="option1"> Repair
                            </label>
                        </div>
                        <div class="fieldname form-group col-md-6">
                          <label for="">Order Notes</label>
                        </div> 
                        <div class="fielddisc form-group col-md-6">
                          <input type="text">
                        </div> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>      
            </div>     

          </div>
          <div role="tabpanel" class="tab-pane" id="moulds">...</div>
        </div>
    </div>
    
  </div> -->

