
.greentext{
    color: green;
}
.wrapper{
    background-color: #eeeeee;
    padding: 15px;
    min-height: 370px;

}
h3{
    font-size: 18px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.table li{
    list-style-type: none;
}

.tableheader{
    font-weight: bold;
    border-bottom: #d8cfcf 1px solid;
    padding-bottom: 12px;
}
.tablecontent{
    max-height: 250px;
    overflow-y: scroll;
}

.tablerow {
    border-bottom: #d8cfcf 1px solid;
    padding-bottom: 5px;
    padding-top: 5px;
}


 