<div class="wrapper">
    <h3>Appointments</h3>
    
    <button type="button" class="btn btn-default btn-blue">New Appoinment</button>
    
    <button type="button" class="btn btn-default btn-blue">View Case History</button>
    <div class="wrappercontent">
        <table *ngIf="appoinmentsData" class="table table-responsive">
            <thead>
              <tr>
                    <th>#</th>
                    <th>Data</th>
                    <th>Type</th>
                    <th>Audiologist</th>
                    <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of appoinmentsData, index as i">
                    <td>{{i+1}}</td>
                    <td>{{item.AppointmentDate}}</td>
                    <td>{{item.AppointmentType}}</td>
                    <td>{{item.AudiologistName}}</td>
                    <td class="greentext">{{item.AppointmentStatus}}</td>
                    
              </tr>
              <!-- <tr>
                  <td>2</td>
                  <td>2012-12-24</td>
                  <td>Hearing Aid Enquiry</td>
                  <td>Chandana Ongolo</td>
                  <td>HA ordered</td>
            </tr> -->
            </tbody>
          </table>

    </div>
    
   
</div>

      
          
      
