
.greentext{
    color: green;
}
.wrapper{
    background-color: #eeeeee;
    padding: 15px;
    min-height: 370px;

}
h3{
    font-size: 18px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
}
table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
content: ' ';
display: block;
visibility: hidden;
clear: both;
}

thead th {
height: 30px;

/*text-align: left;*/
}

tbody {
height: 249px;
overflow-y: auto;
}

thead {
/* fallback */
}


tbody td,thead th {
width: 19.2%;
float: left;
}








