<div class="wrappercontent">
  <div class="table row">
    <div class="tableheader col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class=" row">
        <li class="col-xs-3">Expense Type</li>
        <li class="col-xs-2">Received By</li>
        <li class="col-xs-2">Paid</li>
        <li class="col-xs-2">Method</li>
        <li class="col-xs-3">Description</li>
      </div>
    </div>
    <div class="tablecontent  col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row tablerow">
        <li class="col-xs-3">Expense Type</li>
        <li class="col-xs-2">Received By</li>
        <li class="col-xs-2">Paid</li>
        <li class="col-xs-2">Method</li>
        <li class="col-xs-3">Description</li>
      </div>
    </div>
  </div>
</div>