
<div class="orders">
  <h3>Orders</h3>
  <button type="button" class="btn btn-default btn-blue">New Order</button>    
  <button type="button" class="btn btn-default btn-blue">New Trial</button>
  <button type="button" class="btn btn-default btn-blue">New Mould</button>
  
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>Items</th>
        <th>Order-Date</th>
        <th>Amount</th>
        <th>Payments</th>
        <th>Balnace</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><small><p>startKey Mini Series 2</p><p class="hilight">12321312: 2yrs warrenty</p></small></td>
        <td>2012-02-23</td>
        <td>20,000</td>
        <td><div class="linebreak"><small>(2012-04-21)<i class="fa fa-inr" aria-hidden="true">12000</i></small></div><br><div>paidTotal:    <i class="fa fa-inr" aria-hidden="true">12000</i> </div></td>
        <td><div class="balancebtnlist"><li><i class="fa fa-inr" aria-hidden="true">0</i><i class="fa fa-check green" aria-hidden="true"></i></li>
        <li> <button type="button" class="btn btn-default btn-lightgreen">print invoice</button></li>
        
        <li><button type="button" class="btn btn-default btn-lightgreen">update address</button></li>
        
        <li><button type="button" class="btn btn-default btn-lightgreen">print receipt</button></li>

        
        </div></td>
        <td>completed <br>
        <button type="button" class="btn btn-default btn-darkgreen">printMouldSlip</button>
        </td>
        <td></td>
      </tr>     
    </tbody>
  </table>
</div>
            
                
            
   