.linebreak{
    border-bottom: 1px solid black
}
.balancebtnlist li{
    list-style-type: none;
}
.orders{
    background-color: #eeeeee;
    padding: 15px;
}
h3{
    display: inline-block;
    margin-top: 0px;
    margin-right: 20px;
}