
<div class="container">
  
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <ul class="list-group">
        
        <div class="page-header">
          <h1>Customer</h1>
        </div>
        <li class="list-group-item"><a [routerLink]="['/customer']">Customer</a></li>
        <li class="list-group-item"><a [routerLink]="['/customer-dashboard']">customer-dashboard</a></li>
        <li class="list-group-item"><a [routerLink]="['/login']">login</a></li>
        <li class="list-group-item"><a [routerLink]="['/newent']">New ENT</a></li>
        <li class="list-group-item"><a [routerLink]="['/newcompany']">New Company</a></li>
        <li class="list-group-item"><a [routerLink]="['/newmodel']">New Model</a></li>
        <li class="list-group-item"><a [routerLink]="['/newappointment']">New Appointment</a></li>
        <li class="list-group-item"><a [routerLink]="['/newexpense']">New Expense</a></li>
        <li class="list-group-item"><a [routerLink]="['/newcash']">New Cash Desposit</a></li>
        <li class="list-group-item"><a [routerLink]="['/eodtally']">Eod_Tally</a></li>
        <li class="list-group-item"><a [routerLink]="['/newcasehistory']">newcasehistory</a></li>
        <li class="list-group-item"><a [routerLink]="['/newmould']">newmould</a></li>
        <li class="list-group-item"><a [routerLink]="['/neworder']">New-order</a></li>
        <li class="list-group-item"><a [routerLink]="['/newpayment']">New Payment</a></li>
        <li class="list-group-item"><a [routerLink]="['/newproduct']">New Product</a></li>
        <li class="list-group-item"><a [routerLink]="['/newtrail']">New-trail</a></li>
      </ul>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <ul class="list-group">
        <div class="page-header">
          <h1>Audiomerty List</h1>
        </div>
        <li class="list-group-item"><a [routerLink]="['/bera']">Bera</a></li>
        <li class="list-group-item"><a [routerLink]="['/brief']">Brief History</a></li>
        <li class="list-group-item"><a [routerLink]="['/eft']">EFT</a></li>
        <li class="list-group-item"><a [routerLink]="['/ima']">IMA</a></li>
        <li class="list-group-item"><a [routerLink]="['/oae']">OAE</a></li>
        <li class="list-group-item"><a [routerLink]="['/provisional']">Provisional Diagnosis</a></li>
        <li class="list-group-item"><a [routerLink]="['/rdt']">RDT</a></li>
        <li class="list-group-item"><a [routerLink]="['/sfa']">SFA</a></li>
        <li class="list-group-item"><a [routerLink]="['/sisi']">SISI</a></li>
        <li class="list-group-item"><a [routerLink]="['/spa']">SPA</a></li>
        <li class="list-group-item"><a [routerLink]="['/tdt']">TDT</a></li>
        <li class="list-group-item"><a [routerLink]="['/tte']">TTE</a></li>
        <li class="list-group-item"><a [routerLink]="['/recommendations']">Recommendations</a></li>
        <li class="list-group-item"><a [routerLink]="['/rinne']">Rinne</a></li>
        <li class="list-group-item"><a [routerLink]="['/weber']">WEBER</a></li>
        <li class="list-group-item"><a [routerLink]="['/newaudiometry']">New Audiometry</a></li>
        <a [routerLink]="['/userdashboard']">userdashboard</a>
      </ul>
    </div>
  </div>
  
</div>






