
<div class="container">
  
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item"><a [routerLink]="['/customer']">Customer</a></li>
        <li class="list-group-item"><a [routerLink]="['/customer-dashboard']">customer-dashboard</a></li>
        <li class="list-group-item"><a [routerLink]="['/login']">login</a></li>
        <li class="list-group-item"><a [routerLink]="['/eodtally']">Eod_Tally</a></li>
        <li class="list-group-item"><a [routerLink]="['/newcasehistory']">newcasehistory</a></li>
        <li class="list-group-item"><a [routerLink]="['/newmould']">newmould</a></li>
      </ul>
    </div>
  </div>
  
</div>






