#basic-addon1{
    background-color: white;
}
.checkbox{

    display: inline!important;
}
.header h1 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    background-color: #366486;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 17px;
}
.header{
    text-align: center;
    
}

.wrapper h1{
    font-size: 26px;
    text-align: center;
}
.wrapper {
    background-color: white;
    /* padding: 20px 40px; */
    padding-top: 20px;
    padding-bottom: 15px;
}
.input-group {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
    padding: 0px 50px;
    margin-top: 20px;
}
.remember {
    display: block;
    /* background-color: #cccccc; */
    padding: 10px 50px 35px;
}
.login-wrapper {
    float: left;
    margin-top: 10%;
}

.loginbtn{
    color: white;
}

button.btn.pull-right.btn-green {
    color: white;
   
    border-radius: non;
    border-radius: 0px;
    /* padding: 10px 24px; */
    font-size: 18px;
}

.login{
    
        float: left;
       
    
}