
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="new-mould">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="title">Awaiting</li>
            <li role="presentation" class="active">
              <a href="#received" aria-controls="received" role="tab" data-toggle="tab">Repairs</a>
            </li>
            <li role="presentation">
              <a href="#mi" aria-controls="mi" role="tab" data-toggle="tab">Moulds</a>
            </li>
            <li role="presentation">
              <a href="#expenses" aria-controls="expenses" role="tab" data-toggle="tab">POs</a>
            </li>
            <li role="presentation">
              <a href="#cheques" aria-controls="cheques" role="tab" data-toggle="tab">Via App Orders</a>
            </li>            
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <!-- Order Type Billing -->
            <div role="tabpanel" class="tab-pane active" id="received">
            
            </div>                 
            <div role="tabpanel" class="tab-pane" id="mi">
            
            </div>
            <div role="tabpanel" class="tab-pane" id="expenses">
            
            </div>
            <div role="tabpanel" class="tab-pane" id="cheques">
                
            </div>          
          </div>
        </div>
        <!-- Order Items -->
      </div>
    </div>
  </div>
  