
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="new-mould">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="title">Awaiting</li>
            <li role="presentation" class="active">
              <a href="#repairs" aria-controls="received" role="tab" data-toggle="tab">Repairs <span class="badge danger">42</span></a>
            </li>
            <li role="presentation">
              <a href="#moulds" aria-controls="mi" role="tab" data-toggle="tab">Moulds <span class="badge danger">42</span></a>
            </li>
            <li role="presentation">
              <a href="#pos" aria-controls="expenses" role="tab" data-toggle="tab">POs <span class="badge danger">42</span></a>
            </li>
            <li role="presentation">
              <a href="#viaapporders" aria-controls="cheques" role="tab" data-toggle="tab">Via App Orders <span class="badge danger">42</span></a>
            </li>            
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <!-- Order Type Billing -->
            <div role="tabpanel" class="tab-pane active" id="repairs">
                <app-awaiting-repairs></app-awaiting-repairs>
            
            </div>                 
            <div role="tabpanel" class="tab-pane" id="moulds">
                <app-awaiting-moulds></app-awaiting-moulds>
            </div>
            <div role="tabpanel" class="tab-pane" id="pos">
                <app-awaiting-pos></app-awaiting-pos>
            </div>
            <div role="tabpanel" class="tab-pane" id="viaapporders">
                <app-awaiting-viaapporders></app-awaiting-viaapporders>
            </div>          
          </div>
        </div>
        <!-- Order Items -->
      </div>
    </div>
  </div>
  