
.btn-default{

    margin: 10px;
}
.audiometry{
    background-color: #eeeeee;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;

}

.diagnostics{
    background-color: #eeeeee;
    padding: 15px;
}