
<div class="audiometry">
  
  <button type="button" class="btn btn-default btn-blue">New Case History </button>
  <div>
  <button type="button" class="btn btn-default btn-lightblue">Audiometry(21-02-2015)</button>
  
  <button type="button" class="btn btn-default btn-lightblue">Audiometry(23-03-2015)</button>
  </div>
</div>

<div class="diagnostics">
  <h3>Diagnostics/Audiometry</h3>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Audiologist</th>
      <th>Tests</th>
      <th>Report</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2017-10-15</td>
      <td><div class="form-group">
          
            <select class="form-control">
              <option>test1</option>
              <option>test2</option>
              <option>test3</option>
            </select> 
          
        </div></td>
    </tr>
  </tbody>
</table>

</div>