<div class="wrappercontent">
  <div class="table row">
    <div class="tableheader col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class=" row">
        <li class="col-xs-2">Date</li>
        <li class="col-xs-2">Debit</li>
        <li class="col-xs-2">Credit</li>
        <li class="col-xs-3">Cash Deposit</li>
        <li class="col-xs-3">Cash On Hands</li>
      </div>
    </div>
    <div class="tablecontent  col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row tablerow">
        <li class="col-xs-2">Date</li>
        <li class="col-xs-2">Debit</li>
        <li class="col-xs-2">Credit</li>
        <li class="col-xs-3">Cash Deposit</li>
        <li class="col-xs-3">Cash On Hands</li>
      </div>
    </div>
  </div>
</div>