<div class="userdashboard container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="updatestatus">
                <app-appointment compToView="Updateappoinment"></app-appointment>
            </div>
            <div class="uploadent">
                <app-appointment compToView="UploadENT"></app-appointment>
            </div>
            <div class="blue">
                <app-appointment compToView="Creatingfitting"></app-appointment>
            </div>
            <div class="slaes">
                    <app-sales></app-sales>
            </div>
            <div class="search">
                <app-search></app-search>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="awaitingrepair">
                <app-appointment compToView="Awaitingrepair"></app-appointment>
            </div>
            <div class="awitinggreen">
                <app-appointment compToView="Awaitingfitting"></app-appointment>
            </div>
            <div class="cashflow">
                <app-cashflow></app-cashflow>
            </div>
            <div class="awaiting">
                <app-awaiting></app-awaiting>
            </div>
            <div class="stock">
                <app-stock></app-stock>
            </div>
            <div class="staticblock">
                
                <button type="button" class="btn  btn-blue">New Customer</button>
                <button type="button" class="btn  btn-blue">New Expense</button>
                <button type="button" class="btn  btn-blue">EOD Tally</button>
                <button type="button" class="btn  btn-blue">Inhouse Consumption</button>
                <button type="button" class="btn  btn-blue">New Cash Deposit</button>
                <button type="button" class="btn btn-purple">Stock Transfers Report</button>
                <button type="button" class="btn btn-purple">Manage ENTs</button>
                <button type="button" class="btn btn-purple">Current HA Inventory</button>
                <button type="button" class="btn btn-purple">Catalog Manager</button>

                
            </div>
            <div class="vendorshipment">
                <app-vendorshipment></app-vendorshipment>
            </div>
        </div>
    </div>
</div>