.awaiting{
    margin-top: 20px;
}
.stock{
    margin-top: 20px;
}
.btn:hover{
    color: white;
}

.staticblock {
    background-color: white;    
   padding: 20px;
    margin-top: 30px;
}

button {    
    margin: 10px;
}