<div class="userdashboard container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="updatestatus">
                <p>update appoinment status fot there customers</p>
            </div>
            <div class="uploadent">
                <p>upload ENT reference slips fot these customers</p>
            </div>
            <div class="blue">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, sequi alias corporis sit temporibus consectetur
                    atque excepturi vel quasi magnam beatae quis modi, obcaecati animi minus nesciunt quod iusto minima!</p>
            </div>
            <div class="slaes">
                <app-sales></app-sales>
            </div>
            <div class="calender">
                <p>app- calender</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="awaitingrepair">
                <p>awaiting repair approval from these customers</p>
            </div>
            <div class="awitinggreen">
                <p>awaiting GREEN</p>
            </div>
            <div class="cashflow">
                <app-cashflow></app-cashflow>
            </div>
            <div class="awaiting">
                <app-awaiting></app-awaiting>
            </div>
            <div class="stock">
                <app-stock></app-stock>
            </div>
            <div class="staticblock">
                <p>Just a static block with buttons</p>
            </div>
            <div class="vendorshipment">
                <app-vendorshipment></app-vendorshipment>
            </div>
        </div>
    </div>
</div>