<div class="wrappercontent">
    <div class="table row">
      <div class="tableheader col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class=" row">
          <li class="col-xs-1">#</li>
          <li class="col-xs-2">Customer</li>
          <li class="col-xs-3">Hearing Aid</li>
          <li class="col-xs-2">Balance</li>
          <li class="col-xs-2">Date</li>
          <li class="col-xs-2">Status</li>
        </div>
      </div>
      <div class="tablecontent  col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row tablerow">
          <li class="col-xs-1">#</li>
          <li class="col-xs-2">Customer</li>
          <li class="col-xs-3">Hearing Aid</li>
          <li class="col-xs-2">Balance</li>
          <li class="col-xs-2">Date</li>
          <li class="col-xs-2"><button type="button" class="btn grey">Processing</button></li>
        </div>
      </div>
    </div>
  </div>