<div class="wrappercontent" *ngIf="awaitingViaApp">
    <div class="table row">
      <div class="tableheader col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class=" row">
          <li class="col-xs-2">#</li>
          <li class="col-xs-3">Customer</li>
          <li class="col-xs-2">Items</li>
          <li class="col-xs-2">Date</li>
          <li class="col-xs-3">Status</li>
        </div>
      </div>
      <div class="tablecontent  col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row tablerow" *ngFor="let item of awaitingViaApp,index as i">
          <li class="col-xs-2">{{i+1}}</li>
          <li class="col-xs-3">{{item.DelvCustId}}</li>
          <li class="col-xs-2">{{item.Items}}</li>
          <li class="col-xs-2">{{item.Date}}</li>
          <li class="col-xs-3">{{item.Status}}</li>
        </div>
      </div>
    </div>
  </div>