<div class="newmodel">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 modelcon" [formGroup]="newModel">
        <div class="modelhead">
          <h1>New Model</h1><hr>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rowform">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">        
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">Company Name</label>
            </div>
            
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">Product Name</label>
            </div>
            
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rowform">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">        
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">Model Name<sup class="supset">*</sup></label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 radio">
              <input type="text" class="form-control" value="" required="required" formControlName="ModelName">
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">Company Model No</label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <input type="text" class="form-control" value="" required="required" formControlName="CompModelNumber">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rowform">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">        
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">Warranty<sup class="supset">*</sup></label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 radio">
              <label><input type="radio" name="WarrantyType" value="Y" formControlName="WarrantyType">Yes</label>
              <label><input type="radio" name="WarrantyType" value="N" formControlName="WarrantyType">No</label>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">Warranty Years</label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <input type="text"class="form-control" value="" required="required" formControlName="Warranty">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rowform">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">        
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label for="exampleInputName2">Price<sup class="supset">*</sup></label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <input type="email"class="form-control" value="" required="required" formControlName="Price">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn_class">
          <div class="btnsub">
            <button type="button" class="btn btn-success" (click)="submit()">Submit</button>
            <button type="button" class="btn">Cancel</button>
          </div>
        </div>
      </div>      
    </div>
  </div>