.modelhead h1{
    font-size:22px;
}
.modelcon
{
    background-color: white;
}
hr
{
    margin-top: 0px;
}
.form-control
{
    width:190px!important;
}
.rowform
{
    margin-bottom: 12px;
}
.radio
{
    margin-top: 0px!important;
}
.btnsub
{
    text-align: center;
    background-color: rgb(213, 213, 213);
    padding: 24px;
}
.btn_class
{
    padding: 19px;
}
label
{
    font-size: 13px!important;
}