<div class="weber">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 webercon">
      <div class="weberhead">
        <h1>New Diagnostics</h1><hr>
      </div>
      <div class="weberhead">
        <h1>WEBER</h1><hr>
      </div>
      <div class="weberdata">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span class="item">Weber Lateralized</span>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 radio">
            <label><input type="radio" name="right">Right</label><br>
            <label><input type="radio" name="left">Left</label><br>
            <label><input type="radio" name="central">Central</label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn_class">
        <div class="btnsub">
          <button type="button" class="btn btn-success">Submit</button>
          <button type="button" class="btn">Cancel</button>
        </div>
      </div>
    </div>      
  </div>
</div>