<div class="wrappercontent" *ngIf="cashflowcc">
  <div class="table row">
    <div class="tableheader col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class=" row">
        <li class="col-xs-3">Customer</li>
        <li class="col-xs-3">Charged Amount</li>
        <li class="col-xs-2">Amount</li>
        <li class="col-xs-2">Paid Date</li>
        <li class="col-xs-2"></li>
      </div>
    </div>
    <div class="tablecontent  col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row tablerow" *ngFor="let item of cashflowcc, index as i">
        <li class="col-xs-3">{{item.InvCustomerName}}</li>
        <li class="col-xs-3">{{item.ChargedAmount}}</li>
        <li class="col-xs-2">{{item.Paidamount}}</li>
        <li class="col-xs-2">{{item.PaidDate}}</li>
        <li class="col-xs-2"><button type="button" class="btn  btn-orange">Update</button></li>
      </div>
    </div>
  </div>
</div>