<div class="wrappercontent" *ngIf="salestrials">
    <div class="table row">
      <div class="tableheader col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class=" row">
          <li class="col-xs-1">#</li>
          <li class="col-xs-3">Customer</li>
          <li class="col-xs-4">Hearing Aid</li>
          <li class="col-xs-2">Since</li>
          <li class="col-xs-2">Date</li>          
        </div>
      </div>
      <div class="tablecontent  col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row tablerow" *ngFor="let item of salestrials,index as i">
          <li class="col-xs-1">{{i+1}}</li>
          <li class="col-xs-3">{{item.CustomerName}}</li>
          <li class="col-xs-4"><div>
            <li>{{item.ProductName}}</li>
            <hr class="line">
            <li>{{item.ModelName}}</li>
          </div></li>
          <li class="col-xs-2"><button type="button" class="btn danger">3days</button></li>
          <li class="col-xs-2">{{item.OrderDate}}</li>          
        </div>
      </div>
    </div>
  </div>