<div class="wrappercontent">
    <div class="table row">
      <div class="tableheader col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class=" row">
          <li class="col-xs-2">Spare Name</li>
          <li class="col-xs-2"></li>
          <li class="col-xs-2">Chennai</li>
          <li class="col-xs-2">Madurai 1</li>
          <li class="col-xs-2">Madurai 2</li>
          <li class="col-xs-1">Nagpur</li>
          <li class="col-xs-1">KKR</li>
        </div>
      </div>
      <div class="tablecontent  col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row tablerow">
            <li class="col-xs-2">Spare Name</li>
            <li class="col-xs-2"><button type="button" class="btn  btn-orange">Raise PO</button></li>
            <li class="col-xs-2">Chennai</li>
            <li class="col-xs-2">Madurai 1</li>
            <li class="col-xs-2">Madurai 2</li>
            <li class="col-xs-1">Nagpur</li>
            <li class="col-xs-1">KKR</li>         
        </div>
      </div>
    </div>
  </div>