<div class="wrappercontent">
  <div class="table row">
    <div class="tableheader col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class=" row">
        <li class="col-xs-2">#</li>
        <li class="col-xs-2">Branch</li>
        <li class="col-xs-6">Requests</li>
        <li class="col-xs-2">Transfer</li>
      </div>
    </div>
    <div class="tablecontent  col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row tablerow">
        <li class="col-xs-2">1</li>
        <li class="col-xs-2">kkr kilpauk</li>
        <li class="col-xs-2">Date</li>
        <li class="col-xs-2">Model</li> 
        <li class="col-xs-1">Qty</li>
        <li class="col-xs-1">Allotted</li>
        <li class="col-xs-2"><button type="button" class="btn  btn-orange">Raise PO</button></li>
      </div>
    </div>
  </div>
</div>