.wrapper {    
    padding: 20px;   
    margin: 5px 0px;
}
.title{
    font-weight: bold;
}
.back-orange{
    background-color: antiquewhite;
}
.back-green{
    background-color: rgb(165, 243, 162);
}
.back-purple{
    background-color: rgb(206, 159, 206);
}
.textcolor {
    display: inline-block;   
    margin-right: 6px;
    margin-bottom: 8px;    
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 800;
}
.textcolor-orange{
    background-color: #ff9d0a;
    color: white;
}
.textcolor-green{
    background-color: #378823;
    color: white;
}
.textcolor-purple{
    background-color: purple;
    color: white;
}