

  <div class="newCaseHistoryDetail container">
   <h3>Deepak Kumari Kurmi</h3>  <h4>-case history</h4>
   <hr>
    
    <div class="outerWrapper">
      <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          
       
        <div class="innerwrapper">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h5>Problem since</h5>
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h5>18months</h5>
        </div>
        </div>
         
        <div class="innerwrapper">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <h5>Exposed to loud noise</h5>
            </div>
            
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <h5>No</h5>
            </div>
        </div>

        </div>
      </div>
    </div>
  </div>

