<div class="productManager container">
    <div class="row firstHead">
      
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h1>Product Catalog Manager</h1>
      </div>
      
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 chooseBtn">
        <span>choose:
          
          <button type="button" class="btn btn-default">HearingAids</button>
          
         <button type="button" class="btn btn-default">Spares</button>
          
          
        </span>
      </div>
      
    </div>
    <div class="row">
      
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="companyHead">
        <span>
          companies:
          
          <button type="button" class="btn btn-default btn-purple">New Company</button>
          
        </span>
        </div>
        <div class="companycolumn btn-lightgreen col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
          
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
            BTE
          </div>
          
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            
            <button type="button" class="btn btn-default btn-lightblue"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
            
          </div>
          
          
        </div>
      </div>
      
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="companyHead">
          <span>
              Product:
              
              <button type="button" class="btn btn-default btn-purple">New Product</button>
              
            </span>
        </div>    
            <div class="companycolumn btn-lightgreen col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
              
              <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
                BTE
              </div>
              
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                
                <button type="button" class="btn btn-default btn-lightblue"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
                
              </div>
              
              
            </div>
      </div>
      
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="companyHead">
          <span>
              models:
              
              <button type="button" class="btn btn-default btn-purple">New Models</button>
              
            </span>
        </div>    
            <div class="companycolumn btn-lightgreen col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
              
              <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
                BTE
              </div>
              
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
                
                <button type="button" class="btn btn-default btn-lightblue"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
                
              </div>
              
              
            </div>
      </div>
      
    </div>
  </div>