
.table li{
    list-style-type: none;
  }
  
  .tableheader{
    font-weight: bold;
    border-bottom: #d8cfcf 1px solid;
    padding-bottom: 12px;
  }
  .tablecontent{
    max-height: 250px;
    overflow-y: scroll; 
  }
  
  .tablerow {
    border-bottom: #d8cfcf 1px solid;
    padding-bottom: 6px;
    padding-top: 6px;
  }
  .btn{
    padding: 1px 5px !important;
  }