<div class="wrappercontent" *ngIf="cashflowCheques">
    <div class="table row">
      <div class="tableheader col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class=" row">
          <li class="col-xs-3">Customer</li>
          <li class="col-xs-3">Cheque Amount</li>
          <li class="col-xs-2">Cheque No.</li>
          <li class="col-xs-2">Cheque Date</li>
          <li class="col-xs-2"></li>
        </div>
      </div>
      <div class="tablecontent  col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row tablerow" *ngFor="let item of cashflowCheques">
          <li class="col-xs-3">{{item.InvCustomerName}}</li>
          <li class="col-xs-3">{{item.Chequeamt}}</li>
          <li class="col-xs-2">{{item.ChequeNumber}}</li>
          <li class="col-xs-2">{{item.ChequeDate}}</li>
          <li class="col-xs-2"><button type="button" class="btn  btn-orange">Update</button></li>
        </div>
      </div>
    </div>
  </div>