/* You can add global styles to this file, and also import other style files */

@import '~font-awesome/css/font-awesome.css';
body{
    background-color:  #d5d5d5;
}
.btn{
    font-size: 12px;
}
.contAppoint{
    background-color: whitesmoke;
}

.btn-blue{
    background-color: #468ac7;
    color: white;
  }
  .btn-orange{
    background-color: #ffb849;
    color: white;
  }
  .btn-red{
    background-color: #be2311;
    color: white;
  }
  .btn-lightgreen{
    background-color: #34ab47;
    color: white;
  }
  .btn-darkgreen{
    background-color: #057d71;
    color: white;
  }
  .btn-lightblue{
    background-color: #5cc1df;
    color: white;
  }
  .btn-green{
    background-color: #37aa4d;
  }
  .btn-purple{
    background-color: purple;
    color: white;
  }
  .supset {
    color: red;
    top: -.1em;
    font-size: 18px;
  }
