<div class="eodtally">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 eodcon">
            <div class="eodhead">
                <h1>EOD Tally</h1><hr>
            </div>
            <div class="eoddata">
                <div class="col-md-6 col-md-offset-3 dataitem">
                    <div class="col-md-6">
                        <span class="item">Today's Date</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <span class="item">15-10-2017</span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 dataitem">
                    <div class="col-md-6">
                        <span class="item">Today's Cash Income</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <span class="item">&#8377;0</span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 dataitem">
                    <div class="col-md-6">
                        <span class="item">Today's Cash Expense</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <span class="item">-&#8377;0</span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 dataitem">
                    <div class="col-md-6">
                        <span class="item">Today's Cash Expense paid from Opening Balance</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <span class="item">&#8377;0</span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 dataitem totalcash">
                    <div class="col-md-6">
                        <span class="item">Expense Cash Balance</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <span class="item">&#8377;0</span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 dataitem">
                    <div class="col-md-6">
                        <span class="item">1000x</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <input type="text" name="" class="textrupess">
                        <span class="item equal">=</span>
                        <span class="item">&#8377;0</span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 dataitem">
                    <div class="col-md-6">
                        <span class="item">500x</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <input type="text" name="" class="textrupess">
                        <span class="item equal">=</span>
                        <span class="item">&#8377;0</span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 dataitem">
                    <div class="col-md-6">
                        <span class="item">100x</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <input type="text" name="" class="textrupess">
                        <span class="item equal">=</span>
                        <span class="item">&#8377;0</span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 dataitem">
                    <div class="col-md-6">
                        <span class="item">50x</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <input type="text" name="" class="textrupess">
                        <span class="item equal">=</span>
                        <span class="item">&#8377;0</span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 dataitem">
                    <div class="col-md-6">
                        <span class="item">10x</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <input type="text" name="" class="textrupess">
                        <span class="item equal">=</span>
                        <span class="item">&#8377;0</span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 dataitem">
                    <div class="col-md-6">
                        <span class="item">1x</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <input type="text" name="" class="textrupess">
                        <span class="item equal">=</span>
                        <span class="item">&#8377;0</span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 dataitem">
                    <div class="col-md-6">
                        <span class="item">Today's Cash Total</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <span class="item">&#8377;0</span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 dataitem">
                    <div class="col-md-6">
                        <span class="item">Today's Difference</span>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <span class="item">&#8377;0</span>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn_class">
                    <div class="btnsub">
                        <button type="button" class="btn btn-success">Submit</button>
                        <button type="button" class="btn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>