<div class="wrappercontent">
  <div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 searchRow">
      <div class="col-xs-3"> 
        <label for="">First Name</label> 
        <input type="text" class="form-control" value="" required="required">
      </div> 
      <div class="col-xs-3"> 
        <label for="">Last Name</label> 
        <input type="text" class="form-control" value="" required="required">
      </div> 
      <div class="col-xs-3"> 
        <label for="">Phone</label> 
        <input type="text" class="form-control" value="" required="required">
      </div> 
      <div class="col-xs-3"> 
        <label for="">Adress/City</label> 
        <input type="text" class="form-control" value="" required="required">
      </div> 
    </div>
    
  </div>
  <div class="table row">
    <div class="tableheader col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class=" row">
        
        <li class="col-xs-2">#</li>
        <li class="col-xs-3">First Name</li>
        <li class="col-xs-2">LastName</li>
        <li class="col-xs-2">City</li>
        <li class="col-xs-2">Orders</li>
      </div>
    </div>
    <div class="tablecontent  col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row tablerow">
        <li class="col-xs-2"></li>
        <li class="col-xs-3"></li>
        <li class="col-xs-2"></li>
        <li class="col-xs-2"></li>
        
      </div>
    </div>
  </div>
</div>