
<div class="container">
  
  <div class="row">
    
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="customer_details">
          <h4>Sridharan R</h4>
          <p>Reference:Ahilasamy, N</p>
        
        </div>
      </div>
      
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="customer_addr"><b>
          <li>N0:88 ,Arcot Road</li>  
          <li>vijaya shanthi towers</li>
          <li>vadapalani chennai-26.</li>
          </b>
        </div>
        
      </div>
      
      <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
        <div class="customer_age">
          <b>Age:24</b>  <br><small>(D.O.B:12-2-93)</small>

        </div>
        
      </div>
      
      <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
        <div class="customer_phno">
           <b>Phone no</b><br><small>898239829</small>
        </div>
        
      </div>
      <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
          <b>Email</b><br><small>sridaharan.r@gmail.com</small>
      </div>
      
      
      
    </div>
    
  </div>
    
</div>
